.navbar_parent {
    height: 60px;
    width: 100%;
    background: linear-gradient(97deg, #ff7a6e, #ff9770);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.2); 
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box
}

.navbar_left_container {
    display: flex;    
    width: 33.3333%;  
    margin-left: 5em;  
    box-sizing: border-box
    
}

.navbar_left_container img {
    margin-left: 12px;
}

.container_left_title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

img:hover {
    cursor: pointer;
}

.navbar_center {
    width: 33.3333%;
    box-sizing: border-box; 
    font-size: 24px;
    letter-spacing: 1px;
    
}

.navbar_right_container { 
    margin-right: 6em;  
    box-sizing: border-box; 
    font-size: 18px;
    letter-spacing: 1px; 
}

.logout_button:hover {
    cursor: pointer;
}

a {
  text-decoration: none;
  color: white;

}

a:visited {
  color: white;
}