.search_container {
    box-sizing: border-box;
    background: #f2f2f2;
    overflow: auto;
}

.search_container_parent {
    box-sizing: border-box;
    padding: 10px;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 3em;
    background: white;
    overflow: scroll;
    box-shadow: 0 1px 3px 0 rgba( 0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;    
}

.search_header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.search_input {
    box-sizing: border-box;
    padding-left: 15px;
    margin-left: 20px;
    height: 30px;
    width: 217px;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
}


.remove_friend_button_search:hover {
    cursor: pointer;
}

.search_user_button {
    width: 130px;
    height: 35px;
    border-radius: 1px;
    background-image: radial-gradient(circle at 50%-46%, #737373, #403d39);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
    color: white;
}

.reset_button {
    width: 130px;
    height: 35px;
    background: radial-gradient(circle at 50% 0, #ffffff, #f1eceb);
    border: solid 1px #ccc3c3;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reset_button:hover {
    cursor: pointer;
}

.search_user_button:hover {
    cursor: pointer;
}

.search_users_container {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-between;
}

.pages_container {
    margin: 0 auto;
    width: 75%;
    height: 40px;
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);   
    justify-content: space-around; 
    align-items: center;
    background:#ff7a6e;

}

.page_button {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: white;
    color: black;
    border-radius: .2em;
}

.active_page_button {
    background: black;
    color: white;
}

.page_button:current {
    background: black;
    color: white;
}

.add_friend_button_search {
    height: 38px;
    width: 130px;
    background:#ff7a6e;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .1em;
    color: white;
    font-size: 13px;
}

.add_friend_button_search:hover {
    cursor: pointer;
}

.remove_friend_button_search {
    border:  1px solid black;
    background: radial-gradient(circle at 50%-46%, #737373, #403d39);    
    width: 130px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 13px;
    border-radius: .1em;    
}